@import url("https://fonts.googleapis.com/css2?family=Diplomata&family=Londrina+Sketch&family=Rampart+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply bg-white hover:bg-gray-800 shadow-xl hover:shadow-none cursor-pointer w-80 rounded-3xl flex flex-col items-center justify-center;
  }

  .wrapperAnime {
    @apply transition-all duration-500 ease-in-out;
  }

  .header {
    @apply relative mt-2 mx-2;
  }

  .imageWrapper {
    @apply h-56 rounded-2xl overflow-hidden;
  }

  .image {
    @apply object-cover w-full h-full;
  }

  .textWrapper {
    @apply pt-10 pb-6 w-full px-4;
  }

  .text {
    @apply font-medium leading-none text-base tracking-wider text-gray-400;
  }

  .badgeWrapper {
    @apply absolute bottom-0 left-0 -mb-4 ml-3 flex flex-row;
  }

  .dangerBadge {
    @apply h-10 w-10 flex items-center justify-center text-xl bg-white hover:bg-red-500 text-red-500 hover:text-white rounded-2xl shadow-xl;
  }

  .primaryBadge {
    @apply h-10 w-16 ml-2 bg-white hover:bg-blue-600 flex items-center justify-center font-medium text-blue-600 hover:text-white rounded-2xl shadow-xl;
  }

  .counter {
    @apply text-gray-800 ml-2;
  }

  .badgeAnime {
    @apply transform-gpu translate-y-0 hover:-translate-y-1 transition-all duration-300 ease-in-out;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #a7a7ca;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #a5b3f9;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ac75f5;
  }
}
